## Gender Classification Of Names
### Using Machine Learning To Detect/Predict Gender of Individuals 
+ Sklearn
+ Pandas
+ Text Extraction

In [1]:
# packages
import pandas as pd
import numpy as np

In [2]:
# ML Packages
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction import DictVectorizer
#from sklearn.feature_extraction.text import TfidfVectorizer

In [91]:
# Load our data
df = pd.read_csv('data/names_dataset.csv')

In [97]:
df.tail()

         index      name sex
95020  1858664  Zecharya   M
95021  1858676    Ziheng   M
95022  1858679      Ziyu   M
95023  1858686     Zykir   M
95024  1858688      Zyus   M

In [94]:
df.size

285075

In [6]:
# Data Cleaning
# Checking for column name consistency
df.columns

Index(['index', 'name', 'sex'], dtype='object')

In [7]:
# Data Types
df.dtypes

index     int64
name     object
sex      object
dtype: object

In [8]:
# Checking for Missing Values
df.isnull().isnull().sum()

index    0
name     0
sex      0
dtype: int64

In [9]:
# Number of Female Names
df[df.sex == 'F'].size

181800

In [10]:
# Number of Male Names
df[df.sex == 'M'].size

103275

In [11]:
df_names = df

In [12]:
# Replacing All F and M with 0 and 1 respectively
df_names.sex.replace({'F':0,'M':1},inplace=True)

In [13]:
df_names.sex.unique()

array([0, 1], dtype=int64)

In [14]:
df_names.dtypes

index     int64
name     object
sex       int64
dtype: object

In [15]:
Xfeatures =df_names['name']

In [16]:
# Feature Extraction 
cv = CountVectorizer()
X = cv.fit_transform(Xfeatures)

In [17]:
cv.get_feature_names()

['aaban',
 'aabha',
 'aabid',
 'aabriella',
 'aada',
 'aadam',
 'aadan',
 'aadarsh',
 'aaden',
 'aadesh',
 'aadhav',
 'aadhavan',
 'aadhi',
 'aadhira',
 'aadhvik',
 'aadhya',
 'aadhyan',
 'aadi',
 'aadian',
 'aadil',
 'aadin',
 'aadish',
 'aadison',
 'aadit',
 'aadith',
 'aadithya',
 'aaditri',
 'aaditya',
 'aadiv',
 'aadon',
 'aadrian',
 'aadrika',
 'aadrit',
 'aadvik',
 'aadvika',
 'aadya',
 'aadyn',
 'aafia',
 'aafreen',
 'aagam',
 'aage',
 'aagot',
 'aahaan',
 'aahan',
 'aahana',
 'aahil',
 'aahir',
 'aahliyah',
 'aahna',
 'aahron',
 'aaidan',
 'aaiden',
 'aaidyn',
 'aaila',
 'aailiyah',
 'aailyah',
 'aaima',
 'aaira',
 'aairah',
 'aaisha',
 'aaishah',
 'aaiyana',
 'aaiza',
 'aaja',
 'aajah',
 'aajaylah',
 'aajon',
 'aakanksha',
 'aakarsh',
 'aakash',
 'aakeem',
 'aakilah',
 'aakira',
 'aakiyah',
 'aakriti',
 'aala',
 'aalaiya',
 'aalaiyah',
 'aalana',
 'aalanah',
 'aalani',
 'aalap',
 'aalaya',
 'aalayah',
 'aalayiah',
 'aalayjah',
 'aalayna',
 'aalaysha',
 'aalaysia',
 'aalea',
 'aaleah',
 'aaleahya',
 'aaleena',
 'aaleeya',
 'aaleeyah',
 'aaleiah',
 'aaleigha',
 'aaleiyah',
 'aalena',
 'aalexis',
 'aalexus',
 'aaleya',
 'aaleyah',
 'aali',
 'aalia',
 'aaliah',
 'aaliana',
 'aalias',
 'aaliayah',
 'aaliayh',
 'aalicia',
 'aaliha',
 'aalijah',
 'aalim',
 'aalimah',
 'aalina',
 'aalinah',
 'aalisa',
 'aalisha',
 'aalivia',
 'aaliya',
 'aaliyaa',
 'aaliyah',
 'aaliyaha',
 'aaliyahmarie',
 'aaliyahrose',
 'aaliyan',
 'aaliyana',
 'aaliyanna',
 'aaliyha',
 'aaliyiah',
 'aalliyah',
 'aallyah',
 'aalok',
 'aalon',
 'aalya',
 'aalyah',
 'aalycia',
 'aalyha',
 'aalyia',
 'aalyiah',
 'aalyna',
 'aalysia',
 'aalyssa',
 'aalyvia',
 'aamanda',
 'aamanee',
 'aamani',
 'aamar',
 'aamari',
 'aamarion',
 'aamaya',
 'aamber',
 'aamena',
 'aamer',
 'aamia',
 'aamil',
 'aamilah',
 'aamina',
 'aaminah',
 'aamir',
 'aamira',
 'aamirah',
 'aamiya',
 'aamiyah',
 'aamna',
 'aamoni',
 'aamori',
 'aamya',
 'aamyah',
 'aana',
 'aanand',
 'aanav',
 'aanaya',
 'aanchal',
 'aania',
 'aaniah',
 'aanijah',
 'aanika',
 'aanisah',
 'aaniya',
 'aaniyah',
 'aaniylah',
 'aansh',
 'aanshi',
 'aanvi',
 'aanya',
 'aanyah',
 'aanyla',
 'aapri',
 'aaqib',
 'aaqil',
 'aara',
 'aarabella',
 'aarabhi',
 'aaradhana',
 'aaradhy',
 'aaradhya',
 'aaraiz',
 'aaralyn',
 'aaralynn',
 'aaran',
 'aaraon',
 'aaratrika',
 'aarav',
 'aaravi',
 'aaraya',
 'aaren',
 'aareon',
 'aareona',
 'aari',
 'aaria',
 'aariah',
 'aarian',
 'aariana',
 'aarianna',
 'aarib',
 'aaric',
 'aarica',
 'aarick',
 'aarie',
 'aariel',
 'aarielle',
 'aarien',
 'aarik',
 'aarika',
 'aariketh',
 'aarilyn',
 'aarilynn',
 'aarin',
 'aarini',
 'aarion',
 'aariona',
 'aarionna',
 'aaris',
 'aarish',
 'aarit',
 'aariv',
 'aariya',
 'aariyah',
 'aariyan',
 'aariyana',
 'aariyanna',
 'aariyona',
 'aariyonna',
 'aariz',
 'aarjav',
 'aarn',
 'aarna',
 'aarnav',
 'aarnavi',
 'aarne',
 'aaro',
 'aaroh',
 'aarohan',
 'aarohi',
 'aarolyn',
 'aaron',
 'aarona',
 'aaronae',
 'aaronda',
 'aaronette',
 'aaronisha',
 'aaronjacob',
 'aaronjames',
 'aaronjohn',
 'aaronjoseph',
 'aaronjosh',
 'aaronjoshua',
 'aaronlee',
 'aaronmichael',
 'aaronn',
 'aaroosh',
 'aarren',
 'aarron',
 'aarsh',
 'aarshi',
 'aarshiya',
 'aarthi',
 'aarti',
 'aaruhi',
 'aarush',
 'aarushi',
 'aarvi',
 'aarvin',
 'aarya',
 'aaryah',
 'aaryahi',
 'aaryan',
 'aaryana',
 'aaryanna',
 'aaryash',
 'aaryav',
 'aaryn',
 'aaryon',
 'aaryona',
 'aarza',
 'aaser',
 'aasha',
 'aashana',
 'aashay',
 'aashi',
 'aashia',
 'aashika',
 'aashini',
 'aashir',
 'aashirya',
 'aashish',
 'aashita',
 'aashiyana',
 'aashka',
 'aashman',
 'aashna',
 'aashni',
 'aashray',
 'aashrita',
 'aashrith',
 'aashritha',
 'aashvi',
 'aasia',
 'aasim',
 'aasin',
 'aasir',
 'aasiya',
 'aasiyah',
 'aason',
 'aastha',
 'aathan',
 'aatif',
 'aatish',
 'aava',
 'aavah',
 'aavash',
 'aaven',
 'aavi',
 'aavin',
 'aavion',
 'aavya',
 'aavyan',
 'aavyn',
 'aaya',
 'aayaan',
 'aayah',
 'aayam',
 'aayan',
 'aayana',
 'aayanah',
 'aayanna',
 'aayansh',
 'aayat',
 'aaydan',
 'aayden',
 'aayla',
 'aaylah',
 'aayliah',
 'aayra',
 'aayu',
 'aayush',
 'aayusha',
 'aayushi',
 'aazan',
 'aazim',
 'aaziyah',
 'ab',
 'aba',
 'abaan',
 'abad',
 'abagael',
 'abagail',
 'abagaile',
 'abagale',
 'abagayle',
 'abaigael',
 'abaigail',
 'abaigeal',
 'aban',
 'abanoub',
 'abas',
 'abasi',
 'abass',
 'abayomi',
 'abb',
 'abba',
 'abbaas',
 'abbagail',
 'abbagale',
 'abbagayle',
 'abbas',
 'abbe',
 'abbee',
 'abbegail',
 'abbegale',
 'abbegayle',
 'abbey',
 'abbeygail',
 'abbeygale',
 'abbi',
 'abbie',
 'abbiegail',
 'abbiegale',
 'abbiegayle',
 'abbigael',
 'abbigail',
 'abbigaile',
 'abbigal',
 'abbigale',
 'abbigayl',
 'abbigayle',
 'abbilyn',
 'abbot',
 'abbott',
 'abbra',
 'abbriella',
 'abbrielle',
 'abby',
 'abbye',
 'abbygael',
 'abbygail',
 'abbygaile',
 'abbygale',
 'abbygayl',
 'abbygayle',
 'abbylynn',
 'abcde',
 'abd',
 'abdala',
 'abdalah',
 'abdalla',
 'abdallah',
 'abdalrahman',
 'abdalrhman',
 'abdel',
 'abdelaziz',
 'abdelhadi',
 'abdelkareem',
 'abdelkarim',
 'abdellah',
 'abdelrahman',
 'abdelrhman',
 'abderrahman',
 'abdi',
 'abdias',
 'abdiasis',
 'abdiaziz',
 'abdiel',
 'abdifatah',
 'abdihafid',
 'abdihakim',
 'abdihamid',
 'abdikadir',
 'abdikarim',
 'abdikhaliq',
 'abdilahi',
 'abdimalik',
 'abdinajib',
 'abdinasir',
 'abdiqani',
 'abdirahim',
 'abdirahin',
 'abdirahman',
 'abdirashid',
 'abdirisaq',
 'abdirizak',
 'abdisalam',
 'abdisalan',
 'abdisamad',
 'abdishakur',
 'abdiwahab',
 'abdiwali',
 'abdo',
 'abdon',
 'abdou',
 'abdoul',
 'abdoulaye',
 'abdoulaziz',
 'abdoulie',
 'abdourahman',
 'abdourahmane',
 'abdrahman',
 'abdrew',
 'abdu',
 'abdual',
 'abduallah',
 'abduel',
 'abdul',
 'abdula',
 'abdulah',
 'abdulahad',
 'abdulahi',
 'abdulai',
 'abdulaye',
 'abdulazeem',
 'abdulazeez',
 'abdulaziz',
 'abdulbari',
 'abdulbasit',
 'abdule',
 'abdulelah',
 'abdulhadi',
 'abdulhakeem',
 'abdulhakim',
 'abdulhalim',
 'abdulhameed',
 'abdulhamid',
 'abduljabbar',
 'abduljaleel',
 'abduljalil',
 'abdulkadir',
 'abdulkareem',
 'abdulkarim',
 'abdulkhaliq',
 'abdull',
 'abdulla',
 'abdullah',
 'abdullahi',
 'abdullatif',
 'abdulloh',
 'abdulmajeed',
 'abdulmajid',
 'abdulmalek',
 'abdulmalik',
 'abdulmohsen',
 'abdulnasir',
 'abdulqadir',
 'abdulraheem',
 'abdulrahim',
 'abdulrahman',
 'abdulrazaq',
 'abdulrehman',
 'abdulrhman',
 'abdulsalam',
 'abdulsamad',
 'abdulwadud',
 'abdulwahab',
 'abdulwahid',
 'abdur',
 'abdurahman',
 'abdurahmon',
 'abdurraheem',
 'abdurrahim',
 'abdurrahmaan',
 'abdurrahman',
 'abdurrehman',
 'abdussamad',
 'abe',
 'abeal',
 'abed',
 'abedallah',
 'abedalrahman',
 'abednego',
 'abeeha',
 'abeer',
 'abeera',
 'abegail',
 'abegale',
 'abegayle',
 'abel',
 'abela',
 'abelardo',
 'abelina',
 'abelino',
 'abell',
 'abella',
 'abem',
 'aben',
 'abena',
 'abenezer',
 'abeni',
 'aber',
 'aberdeen',
 'aberham',
 'abernathy',
 'abert',
 'abery',
 'abey',
 'abgail',
 'abha',
 'abhay',
 'abheek',
 'abhi',
 'abhigna',
 'abhijay',
 'abhijeet',
 'abhijit',
 'abhijot',
 'abhik',
 'abhilash',
 'abhimanyu',
 'abhinav',
 'abhinay',
 'abhinaya',
 'abhiraam',
 'abhiraj',
 'abhiram',
 'abhirup',
 'abhishek',
 'abhyuday',
 'abi',
 'abia',
 'abiageal',
 'abiah',
 'abian',
 'abianna',
 'abibail',
 'abid',
 'abida',
 'abidah',
 'abidan',
 'abie',
 'abiegail',
 'abiel',
 'abiela',
 'abiella',
 'abiezer',
 'abigael',
 'abigaelle',
 'abigahil',
 'abigai',
 'abigail',
 'abigaile',
 'abigailgrace',
 'abigaille',
 'abigailmarie',
 'abigailrose',
 'abigal',
 'abigale',
 'abigayil',
 'abigayl',
 'abigayle',
 'abigeal',
 'abigel',
 'abigial',
 'abiha',
 'abihail',
 'abijah',
 'abilene',
 'abilgail',
 'abilio',
 'abilyn',
 'abilynn',
 'abimael',
 'abimbola',
 'abimelec',
 'abin',
 'abinadab',
 'abinadi',
 'abinav',
 'abinaya',
 'abiodun',
 'abiola',
 'abiona',
 'abir',
 'abira',
 'abiram',
 'abirami',
 'abisag',
 'abisai',
 'abish',
 'abisha',
 'abishai',
 'abishek',
 'abisola',
 'abiud',
 'abiyah',
 'abla',
 'able',
 'abnel',
 'abner',
 'abney',
 'abony',
 'abou',
 'aboubacar',
 'aboubakar',
 'abra',
 'abraam',
 'abraar',
 'abrah',
 'abraham',
 'abrahan',
 'abraheem',
 'abrahem',
 'abrahim',
 'abrahm',
 'abram',
 'abran',
 'abranda',
 'abrar',
 'abraxas',
 'abrea',
 'abreana',
 'abreanna',
 'abree',
 'abreia',
 'abren',
 'abreona',
 'abreonna',
 'abrey',
 'abreya',
 'abrham',
 'abri',
 'abria',
 'abriah',
 'abrial',
 'abriam',
 'abrian',
 'abriana',
 'abrianna',
 'abriannah',
 'abrianne',
 'abrie',
 'abriel',
 'abriela',
 'abriele',
 'abriella',
 'abrielle',
 'abrien',
 'abrienne',
 'abrigail',
 'abrihet',
 'abril',
 'abrille',
 'abrina',
 'abrion',
 'abriona',
 'abrionna',
 'abrish',
 'abriya',
 'abriyah',
 'abriyana',
 'abrom',
 'abron',
 'abrum',
 'abry',
 'abryana',
 'abryanna',
 'abryella',
 'abryelle',
 'abryl',
 'absalat',
 'absalom',
 'absalon',
 'abshir',
 'absidy',
 'abtin',
 'abu',
 'abubacar',
 'abubacarr',
 'abubakar',
 'abubakarr',
 'abubakary',
 'abubaker',
 'abubakr',
 'abuk',
 'abukar',
 'abundio',
 'aby',
 'abyade',
 'abyan',
 'abygael',
 'abygail',
 'abygaile',
 'abygale',
 'abygayle',
 'abyssinia',
 'ac',
 'acacia',
 'acacius',
 'acadia',
 'acamas',
 'acari',
 'acasia',
 'accacia',
 'accalia',
 'access',
 'accie',
 'accursio',
 'ace',
 'acea',
 'acein',
 'acel',
 'acelin',
 'acelino',
 'acelyn',
 'acelynn',
 'acen',
 'acencion',
 'aceon',
 'acer',
 'aceson',
 'acesyn',
 'aceton',
 'acey',
 'aceyn',
 'achai',
 'achaia',
 'achan',
 'achante',
 'achanti',
 'achary',
 'achazia',
 'achel',
 'acheron',
 'achille',
 'achilles',
 'achilleus',
 'achillies',
 'achintya',
 'achol',
 'achraf',
 'achsa',
 'achsah',
 'achyut',
 'achyuth',
 'acia',
 'aciano',
 'acie',
 'aciel',
 'acil',
 'acire',
 'ackeem',
 'ackley',
 'acob',
 'acquanetta',
 'acquanette',
 'acsa',
 'acura',
 'acxel',
 'acy',
 'ad',
 'ada',
 'adabel',
 'adabella',
 'adabelle',
 'adacia',
 'adae',
 'adael',
 'adaelyn',
 'adaeze',
 'adagio',
 'adah',
 'adahir',
 'adahli',
 'adahlia',
 'adahy',
 'adai',
 'adaia',
 'adaiah',
 'adaija',
 'adaijah',
 'adailyn',
 'adain',
 'adair',
 'adaira',
 'adaire',
 'adairis',
 'adaisha',
 'adaisia',
 'adaja',
 'adajah',
 'adaku',
 'adal',
 'adala',
 'adalade',
 'adalae',
 'adalai',
 'adalaide',
 'adalay',
 'adalaya',
 'adalayde',
 'adalbert',
 'adalberto',
 'adale',
 'adalea',
 'adaleah',
 'adalee',
 'adaleen',
 'adaleena',
 'adalei',
 'adaleia',
 'adaleigh',
 'adaleine',
 'adalen',
 'adalena',
 'adalene',
 'adaley',
 'adaleya',
 'adaleyza',
 'adalhi',
 'adali',
 'adalia',
 'adaliah',
 'adalicia',
 'adalid',
 'adalida',
 'adalie',
 'adaliene',
 'adalin',
 'adalina',
 'adalind',
 'adalinda',
 'adaline',
 'adalinn',
 'adalinne',
 'adalis',
 'adalisa',
 'adalise',
 'adalisse',
 'adalius',
 'adaliyah',
 'adaliz',
 'adalize',
 'adallyn',
 'adaly',
 'adalya',
 'adalye',
 'adalyn',
 'adalyna',
 'adalynd',
 'adalyne',
 'adalynn',
 'adalynne',
 'adalys',
 'adalyse',
 'adam',
 'adama',
 'adamae',
 'adamari',
 'adamarie',
 'adamaris',
 'adamariz',
 'adamary',
 'adamarys',
 'adamina',
 'adamm',
 'adamma',
 'adammichael',
 'adamo',
 'adams',
 'adan',
 'adana',
 'adaneli',
 'adanelly',
 'adanely',
 'adanna',
 'adannaya',
 'adante',
 'adanya',
 'adaobi',
 'adaora',
 'adar',
 'adara',
 'adarah',
 'adari',
 'adaria',
 'adarian',
 'adarien',
 'adarion',
 'adarious',
 'adarius',
 'adarrius',
 'adarryl',
 'adarryll',
 'adarsh',
 'adaryl',
 'adaryll',
 'adasha',
 'adashia',
 'adasia',
 'adason',
 'adassa',
 'adasyn',
 'adaugo',
 'adaure',
 'adavia',
 'adavion',
 'adaya',
 'adayah',
 'adayla',
 'adaysha',
 'adayshia',
 'adaysia',
 'adbeel',
 'adbiel',
 'add',
 'adda',
 'addah',
 'addai',
 'addalee',
 'addaleigh',
 'addaley',
 'addalie',
 'addalin',
 'addalina',
 'addaline',
 'addalyn',
 'addalyne',
 'addalynn',
 'addalynne',
 'addam',
 'addan',
 ...]

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
# Features 
X
# Labels
y = df_names.sex

In [20]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [21]:
# Naive Bayes Classifier
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
clf.fit(X_train,y_train)
clf.score(X_test,y_test)

0.6398163206734908

In [22]:
# Accuracy of our Model
print("Accuracy of Model",clf.score(X_test,y_test)*100,"%")

Accuracy of Model 63.98163206734908 %

In [23]:
# Accuracy of our Model
print("Accuracy of Model",clf.score(X_train,y_train)*100,"%")

Accuracy of Model 100.0 %

### Sample Prediction

In [42]:
sample = pd.read_excel("FinalProjectDataSample.xlsx")

In [41]:
sample

,ID,Name,Class,FirstVisit,Visit,LengthOfStay,FileViews,FileViewRate,VideosViews,VideoViewRate,HomeworkSubmit,HomeworkSubmitRate,OnlineQuizCompletions,OnlineQuizCompletionRate,Forum(number of articles / replies),ForumParticipationRate,RollCall (attendance / absence / leave)
0,A01,LST,A,2018.09.14 19:06,376,18:16:50,48,0.8750,36,0.4167,11,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0
1,A02,LTY,A,2018.09.15 14:18,366,15:46:09,21,0.5833,32,0.2083,10,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0
2,A03,LCT,A,2018.09.15 14:50,67,03:21:40,4,0.3333,1,0.0417,10,1.0,0,0,1 ( 1 / 0 ),0.3333,1 / 3 / 0
3,A04,CCX,A,2018.09.15 14:50,63,03:39:04,2,0.0833,2,0.0417,10,1.0,0,0,2 ( 1 / 1 ),0.3333,1 / 3 / 0
4,A05,TGC,A,2018.09.15 14:22,111,04:43:06,11,0.3750,7,0.0833,10,1.0,0,0,1 ( 1 / 0 ),0.3333,1 / 3 / 0
5,A06,LSR,A,2018.09.14 18:57,588,1900-01-01 00:42:20,42,1.0000,62,0.7083,13,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0
6,A07,LGR,A,2018.09.15 14:16,352,13:00:19,32,0.6250,28,0.2083,10,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0
7,A08,LYN,A,2018.09.15 14:19,482,22:16:56,34,0.9167,44,0.4583,10,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0
8,A09,CCW,A,2018.09.15 14:22,274,11:35:55,12,0.3750,29,0.3750,10,1.0,1,1,2 ( 1 / 1 ),0.3333,3 / 1 / 0
9,A10,CLCC,A,2018.09.15 14:23,170,09:43:45,11,0.3750,16,0.2083,10,1.0,1,1,2 ( 1 / 1 ),0.3333,4 / 0 / 0
10,A11,LCW,A,2018.09.15 14:27,287,15:12:46,18,0.6250,18,0.2083,10,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0
11,A12,WHA,A,2018.09.15 14:23,231,15:22:02,29,0.6667,23,0.2917,9,0.9,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0
12,B01,CHW,B,2018.09.15 14:48,513,1900-01-04 04:47:32,37,0.5833,84,0.2917,10,1.0,1,1,3 ( 3 / 0 ),0.6667,4 / 0 / 0
13,B02,LSC,B,2018.09.15 14:28,268,08:34:48,15,0.4167,9,0.1250,11,1.0,1,1,0 ( 0 / 0 ),0.0000,4 / 0 / 0
14,B03,LYH,B,2018.09.14 12:56,619,19:55:08,52,1.0000,63,0.7083,11,1.0,1,1,5 ( 1 / 4 ),0.6667,4 / 0 / 0
15,B04,LSL,B,2018.09.15 14:49,501,22:26:35,27,0.6667,48,0.6250,11,1.0,1,1,4 ( 3 / 1 ),0.3333,4 / 0 / 0
16,B05,CBC,B,2018.09.15 15:16,228,09:43:21,29,0.6667,36,0.2500,10,1.0,1,1,0 ( 0 / 0 ),0.0000,4 / 0 / 0
17,B06,CC,B,2018.09.15 08:31,343,08:30:28,15,0.5833,32,0.1667,11,1.0,1,1,10 ( 4 / 6 ),0.6667,4 / 0 / 0
18,B07,CYC,B,2018.09.14 12:55,190,12:43:31,39,0.9583,16,0.3333,10,1.0,1,1,2 ( 1 / 1 ),0.6667,4 / 0 / 0
19,B08,CKC,B,2018.09.14 23:01,256,1900-01-01 00:14:19,15,0.5000,19,0.2500,11,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0
20,B09,STL,B,2018.09.15 14:49,249,07:54:18,10,0.2083,0,0.0000,14,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0
21,B10,CST,B,2018.09.15 14:48,153,02:32:38,15,0.4583,8,0.1667,10,1.0,1,1,2 ( 2 / 0 ),0.6667,4 / 0 / 0
22,B11,YRK,B,2018.09.15 14:53,119,08:42:51,12,0.5000,13,0.1667,10,1.0,0,0,1 ( 1 / 0 ),0.3333,3 / 0 / 1
23,B12,CHY,B,2018.09.15 14:33,279,1900-01-01 01:50:25,18,0.5833,40,0.3750,11,1.0,1,1,2 ( 1 / 1 ),0.3333,4 / 0 / 0
24,B13,LRC,B,2018.09.15 14:49,274,13:53:12,19,0.5000,19,0.3333,10,1.0,0,0,3 ( 1 / 2 ),0.6667,4 / 0 / 0
25,C01,SSY,C,2018.09.15 14:28,427,1900-01-02 09:36:39,46,0.5833,57,0.4583,12,1.0,1,1,2 ( 2 / 0 ),0.6667,4 / 0 / 0
26,C02,LYC,C,2018.09.15 14:24,461,1900-01-01 20:27:36,61,1.0000,81,0.7083,15,1.0,1,1,2 ( 2 / 0 ),0.6667,4 / 0 / 0
27,C03,HCW,C,2018.09.15 14:53,135,04:18:56,14,0.3750,8,0.1667,11,1.0,1,1,2 ( 2 / 0 ),0.6667,3 / 1 / 0
28,C04,HMC,C,2018.09.15 14:49,376,1900-01-01 01:03:27,11,0.4583,40,0.2500,15,1.0,1,1,3 ( 3 / 0 ),1.0000,4 / 0 / 0
29,C05,CZH,C,2018.09.15 07:33,471,1900-01-01 05:28:59,55,0.7500,30,0.5417,12,1.0,1,1,3 ( 2 / 1 ),0.6667,4 / 0 / 0
30,C06,YYC,C,2018.09.15 14:18,443,21:13:58,54,0.6250,49,0.4583,15,1.0,1,1,3 ( 2 / 1 ),0.6667,4 / 0 / 0
31,C07,YSY,C,2018.09.15 14:48,56,05:45:50,1,0.0417,1,0.0417,10,1.0,1,1,1 ( 1 / 0 ),0.3333,2 / 2 / 0
32,C08,WCH,C,2018.09.14 21:37,367,20:00:59,46,0.6250,41,0.2917,11,1.0,1,1,3 ( 2 / 1 ),0.6667,3 / 1 / 0
33,C09,LCH,C,2018.09.14 11:11,331,16:11:58,39,1.0000,49,0.7083,11,1.0,1,1,3 ( 2 / 1 ),0.6667,4 / 0 / 0
34,C10,TWH,C,2018.09.14 10:27,517,1900-01-01 14:10:51,37,0.6667,42,0.5417,13,1.0,1,1,3 ( 1 / 2 ),0.6667,4 / 0 / 0
35,C11,LBW,C,2018.09.15 14:29,143,09:46:21,12,0.2917,11,0.0833,10,1.0,1,1,1 ( 1 / 0 ),0.3333,3 / 1 / 0
36,C12,SYC,C,2018.09.14 23:50,375,19:42:39,32,0.7500,42,0.2500,10,1.0,1,1,4 ( 2 / 2 ),0.6667,4 / 0 / 0

In [43]:
vect = cv.transform(sample["Name"]).toarray()

In [61]:
# Female is 0, Male is 1
a=clf.predict(vect)
a

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [84]:
ddf = pd.DataFrame({"Gender":a})

In [85]:
ddf.replace({0:'Female',1:'Male'},inplace=True)

In [86]:
ddf

    Gender
0   Female
1   Female
2   Female
3   Female
4   Female
5   Female
6   Female
7     Male
8   Female
9   Female
10  Female
11  Female
12  Female
13  Female
14  Female
15  Female
16  Female
17  Female
18  Female
19  Female
20  Female
21  Female
22  Female
23  Female
24  Female
25  Female
26  Female
27  Female
28  Female
29  Female
30  Female
31  Female
32  Female
33  Female
34  Female
35  Female
36  Female

In [87]:
df_new = pd.concat([sample, ddf], axis=1)

In [88]:
df_new

,ID,Name,Class,FirstVisit,Visit,LengthOfStay,FileViews,FileViewRate,VideosViews,VideoViewRate,HomeworkSubmit,HomeworkSubmitRate,OnlineQuizCompletions,OnlineQuizCompletionRate,Forum(number of articles / replies),ForumParticipationRate,RollCall (attendance / absence / leave),Gender
0,A01,LST,A,2018.09.14 19:06,376,18:16:50,48,0.8750,36,0.4167,11,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0,Female
1,A02,LTY,A,2018.09.15 14:18,366,15:46:09,21,0.5833,32,0.2083,10,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0,Female
2,A03,LCT,A,2018.09.15 14:50,67,03:21:40,4,0.3333,1,0.0417,10,1.0,0,0,1 ( 1 / 0 ),0.3333,1 / 3 / 0,Female
3,A04,CCX,A,2018.09.15 14:50,63,03:39:04,2,0.0833,2,0.0417,10,1.0,0,0,2 ( 1 / 1 ),0.3333,1 / 3 / 0,Female
4,A05,TGC,A,2018.09.15 14:22,111,04:43:06,11,0.3750,7,0.0833,10,1.0,0,0,1 ( 1 / 0 ),0.3333,1 / 3 / 0,Female
5,A06,LSR,A,2018.09.14 18:57,588,1900-01-01 00:42:20,42,1.0000,62,0.7083,13,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0,Female
6,A07,LGR,A,2018.09.15 14:16,352,13:00:19,32,0.6250,28,0.2083,10,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0,Female
7,A08,LYN,A,2018.09.15 14:19,482,22:16:56,34,0.9167,44,0.4583,10,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0,Male
8,A09,CCW,A,2018.09.15 14:22,274,11:35:55,12,0.3750,29,0.3750,10,1.0,1,1,2 ( 1 / 1 ),0.3333,3 / 1 / 0,Female
9,A10,CLCC,A,2018.09.15 14:23,170,09:43:45,11,0.3750,16,0.2083,10,1.0,1,1,2 ( 1 / 1 ),0.3333,4 / 0 / 0,Female
10,A11,LCW,A,2018.09.15 14:27,287,15:12:46,18,0.6250,18,0.2083,10,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0,Female
11,A12,WHA,A,2018.09.15 14:23,231,15:22:02,29,0.6667,23,0.2917,9,0.9,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0,Female
12,B01,CHW,B,2018.09.15 14:48,513,1900-01-04 04:47:32,37,0.5833,84,0.2917,10,1.0,1,1,3 ( 3 / 0 ),0.6667,4 / 0 / 0,Female
13,B02,LSC,B,2018.09.15 14:28,268,08:34:48,15,0.4167,9,0.1250,11,1.0,1,1,0 ( 0 / 0 ),0.0000,4 / 0 / 0,Female
14,B03,LYH,B,2018.09.14 12:56,619,19:55:08,52,1.0000,63,0.7083,11,1.0,1,1,5 ( 1 / 4 ),0.6667,4 / 0 / 0,Female
15,B04,LSL,B,2018.09.15 14:49,501,22:26:35,27,0.6667,48,0.6250,11,1.0,1,1,4 ( 3 / 1 ),0.3333,4 / 0 / 0,Female
16,B05,CBC,B,2018.09.15 15:16,228,09:43:21,29,0.6667,36,0.2500,10,1.0,1,1,0 ( 0 / 0 ),0.0000,4 / 0 / 0,Female
17,B06,CC,B,2018.09.15 08:31,343,08:30:28,15,0.5833,32,0.1667,11,1.0,1,1,10 ( 4 / 6 ),0.6667,4 / 0 / 0,Female
18,B07,CYC,B,2018.09.14 12:55,190,12:43:31,39,0.9583,16,0.3333,10,1.0,1,1,2 ( 1 / 1 ),0.6667,4 / 0 / 0,Female
19,B08,CKC,B,2018.09.14 23:01,256,1900-01-01 00:14:19,15,0.5000,19,0.2500,11,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0,Female
20,B09,STL,B,2018.09.15 14:49,249,07:54:18,10,0.2083,0,0.0000,14,1.0,1,1,1 ( 1 / 0 ),0.3333,4 / 0 / 0,Female
21,B10,CST,B,2018.09.15 14:48,153,02:32:38,15,0.4583,8,0.1667,10,1.0,1,1,2 ( 2 / 0 ),0.6667,4 / 0 / 0,Female
22,B11,YRK,B,2018.09.15 14:53,119,08:42:51,12,0.5000,13,0.1667,10,1.0,0,0,1 ( 1 / 0 ),0.3333,3 / 0 / 1,Female
23,B12,CHY,B,2018.09.15 14:33,279,1900-01-01 01:50:25,18,0.5833,40,0.3750,11,1.0,1,1,2 ( 1 / 1 ),0.3333,4 / 0 / 0,Female
24,B13,LRC,B,2018.09.15 14:49,274,13:53:12,19,0.5000,19,0.3333,10,1.0,0,0,3 ( 1 / 2 ),0.6667,4 / 0 / 0,Female
25,C01,SSY,C,2018.09.15 14:28,427,1900-01-02 09:36:39,46,0.5833,57,0.4583,12,1.0,1,1,2 ( 2 / 0 ),0.6667,4 / 0 / 0,Female
26,C02,LYC,C,2018.09.15 14:24,461,1900-01-01 20:27:36,61,1.0000,81,0.7083,15,1.0,1,1,2 ( 2 / 0 ),0.6667,4 / 0 / 0,Female
27,C03,HCW,C,2018.09.15 14:53,135,04:18:56,14,0.3750,8,0.1667,11,1.0,1,1,2 ( 2 / 0 ),0.6667,3 / 1 / 0,Female
28,C04,HMC,C,2018.09.15 14:49,376,1900-01-01 01:03:27,11,0.4583,40,0.2500,15,1.0,1,1,3 ( 3 / 0 ),1.0000,4 / 0 / 0,Female
29,C05,CZH,C,2018.09.15 07:33,471,1900-01-01 05:28:59,55,0.7500,30,0.5417,12,1.0,1,1,3 ( 2 / 1 ),0.6667,4 / 0 / 0,Female
30,C06,YYC,C,2018.09.15 14:18,443,21:13:58,54,0.6250,49,0.4583,15,1.0,1,1,3 ( 2 / 1 ),0.6667,4 / 0 / 0,Female
31,C07,YSY,C,2018.09.15 14:48,56,05:45:50,1,0.0417,1,0.0417,10,1.0,1,1,1 ( 1 / 0 ),0.3333,2 / 2 / 0,Female
32,C08,WCH,C,2018.09.14 21:37,367,20:00:59,46,0.6250,41,0.2917,11,1.0,1,1,3 ( 2 / 1 ),0.6667,3 / 1 / 0,Female
33,C09,LCH,C,2018.09.14 11:11,331,16:11:58,39,1.0000,49,0.7083,11,1.0,1,1,3 ( 2 / 1 ),0.6667,4 / 0 / 0,Female
34,C10,TWH,C,2018.09.14 10:27,517,1900-01-01 14:10:51,37,0.6667,42,0.5417,13,1.0,1,1,3 ( 1 / 2 ),0.6667,4 / 0 / 0,Female
35,C11,LBW,C,2018.09.15 14:29,143,09:46:21,12,0.2917,11,0.0833,10,1.0,1,1,1 ( 1 / 0 ),0.3333,3 / 1 / 0,Female
36,C12,SYC,C,2018.09.14 23:50,375,19:42:39,32,0.7500,42,0.2500,10,1.0,1,1,4 ( 2 / 2 ),0.6667,4 / 0 / 0,Female

In [90]:
df_new.to_excel("writer.xlsx", sheet_name="sheet1")

##### Save Multinomial NB Model

In [61]:
NaiveBayesModel = open("naivebayesgendermodel.pkl","wb")

In [62]:
joblib.dump(clf,NaiveBayesModel)

In [63]:
NaiveBayesModel.close()